# Работа с курсовым проектом 03

In [1]:
import warnings

warnings.filterwarnings('ignore')

In [2]:
import numpy as np
import pandas as pd

from scipy.stats import mode

In [3]:
df = pd.read_csv('train.csv')
df.head()

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price
0,11809,27,3.0,115.027311,NaN,10.0,4,10.0,2014,0.075424,B,B,11,3097,0,NaN,0,0,B,305018.871089
1,3013,22,1.0,39.832524,23.169223,8.0,7,8.0,1966,0.118537,B,B,30,6207,1,1183.0,1,0,B,177734.553407
2,8215,1,3.0,78.342215,47.671972,10.0,2,17.0,1988,0.025609,B,B,33,5261,0,240.0,3,1,B,282078.720850
3,2352,1,1.0,40.409907,NaN,1.0,10,22.0,1977,0.007122,B,B,1,264,0,NaN,0,1,B,168106.007630
4,13866,94,2.0,64.285067,38.562517,9.0,16,16.0,1972,0.282798,B,B,33,8667,2,NaN,0,6,B,343995.102962

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             10000 non-null  int64
 1   DistrictId     10000 non-null  int64
 2   Rooms          10000 non-null  float64
 3   Square         10000 non-null  float64
 4   LifeSquare     7887 non-null   float64
 5   KitchenSquare  10000 non-null  float64
 6   Floor          10000 non-null  int64
 7   HouseFloor     10000 non-null  float64
 8   HouseYear      10000 non-null  int64
 9   Ecology_1      10000 non-null  float64
 10  Ecology_2      10000 non-null  object
 11  Ecology_3      10000 non-null  object
 12  Social_1       10000 non-null  int64
 13  Social_2       10000 non-null  int64
 14  Social_3       10000 non-null  int64
 15  Healthcare_1   5202 non-null   float64
 16  Helthcare_2    10000 non-null  int64
 17  Shops_1        10000 non-null  int64
 18  Shops_2        10000 non-null  object
 19  Price          10000 non-null  float64
dtypes: float64(8), int64(9), object(3)
memory usage: 1.5+ MB

# Анализ данных и работа с пропусками

### 1. Заполните пропущенные значения в датасете медианами или модами.

In [5]:
medians = df[['LifeSquare', 'Healthcare_1']].median()
medians

LifeSquare       32.78126
Healthcare_1    900.00000
dtype: float64

In [6]:
df[['LifeSquare', 'Healthcare_1']] = df[['LifeSquare', 'Healthcare_1']].fillna(medians)

In [7]:
df.isna().sum()

Id               0
DistrictId       0
Rooms            0
Square           0
LifeSquare       0
KitchenSquare    0
Floor            0
HouseFloor       0
HouseYear        0
Ecology_1        0
Ecology_2        0
Ecology_3        0
Social_1         0
Social_2         0
Social_3         0
Healthcare_1     0
Helthcare_2      0
Shops_1          0
Shops_2          0
Price            0
dtype: int64

### 2. Переведите строковый признак в числовое представление.

In [8]:
X = df.drop(['Price', 'Id'], axis=1)
X = pd.get_dummies(X)
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   DistrictId     10000 non-null  int64
 1   Rooms          10000 non-null  float64
 2   Square         10000 non-null  float64
 3   LifeSquare     10000 non-null  float64
 4   KitchenSquare  10000 non-null  float64
 5   Floor          10000 non-null  int64
 6   HouseFloor     10000 non-null  float64
 7   HouseYear      10000 non-null  int64
 8   Ecology_1      10000 non-null  float64
 9   Social_1       10000 non-null  int64
 10  Social_2       10000 non-null  int64
 11  Social_3       10000 non-null  int64
 12  Healthcare_1   10000 non-null  float64
 13  Helthcare_2    10000 non-null  int64
 14  Shops_1        10000 non-null  int64
 15  Ecology_2_A    10000 non-null  uint8
 16  Ecology_2_B    10000 non-null  uint8
 17  Ecology_3_A    10000 non-null  uint8
 18  Ecology_3_B    10000 non-null  uint8
 19  Shops_2_A      10000 non-null  uint8
 20  Shops_2_B      10000 non-null  uint8
dtypes: float64(7), int64(8), uint8(6)
memory usage: 1.2 MB

In [9]:
y = pd.Series(df.Price)
y

0       305018.871089
1       177734.553407
2       282078.720850
3       168106.007630
4       343995.102962
            ...
9995    119367.455796
9996    199715.148807
9997    165953.912580
9998    171842.411855
9999    177685.627486
Name: Price, Length: 10000, dtype: float64

### 3. Разбейте датасет из train.csv на обучающий и валидационный наборы данных.

In [10]:
from sklearn.model_selection import train_test_split

In [11]:
X_train, X_valid, y_train, y_valid = train_test_split(X, y, test_size=0.25, random_state=42)

### 4. Обучите линейную модель. Посчитайте метрику R2 на двух наборах данных. Сделайте выводы.

In [12]:
from sklearn.linear_model import LinearRegression

In [13]:
lr = LinearRegression()

In [14]:
lr.fit(X_train, y_train)

LinearRegression()

In [15]:
y_valid_pred = lr.predict(X_valid)

Предсказания на валидационных данных

In [16]:
from sklearn.metrics import r2_score

In [17]:
r2_score(y_valid, y_valid_pred)

0.469388006450024

Предсказания на тренировочных данных

In [18]:
y_train_pred = lr.predict(X_train)

In [19]:
r2_score(y_train, y_train_pred)

0.48992596787445397

Выводы: точность предсказания модели на валидационных данных чуть ниже чем на тренировочных. Низкая точнось модели (обученной на тренировочных данных) при проверке на тренировочных данных, говорит о плохом качестве данных в целом.

### 5. Обучите более сложную модель на ваш выбор. Посчитайте метрику R2 на двух наборах данных. Сделайте выводы.

In [20]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import GridSearchCV

In [21]:
# Вот так выдает ошибку при обучении clf.fit(X_train, y_train)

parameters = [{
    'n_estimators': [100, 150, 200],
    'max_features': np.arange(3, 19),
    'max_depth': np.arange(4, 7),
}]

clf = GridSearchCV(
    estimator=RandomForestRegressor(),
    param_grid=parameters,
    scoring='accuracy',
    cv=5,
)

In [24]:
# Вот так нормально обучается clf.fit(X_train, y_train)

# clf = RandomForestRegressor(max_depth=6, max_features=6, n_estimators=150)

In [25]:
clf.fit(X_train, y_train)

RandomForestRegressor(max_depth=6, max_features=6, n_estimators=150)

In [26]:
from sklearn.metrics import r2_score
y_valid_pred_RF = clf.predict(X_valid)
r2_score(y_valid, y_valid_pred_RF)

0.6695246182791251